#about-us {
	min-height: 395px;
	padding-top: 50px;
}
#about-us .explain{
	margin-top:6px !important;
}

#title {
	margin: 20px 0px;
	color: black;
	width: 100%;
	text-align: center;
}

.header {
	font-size: 35px;
	font-weight: bold;
}

#abu-content {
	font-size: 15px;
	width: 80%;
	margin: 0 auto;
	line-height: 150%;
}

#subheader {
	border: 1px solid #dcdcdc;
	height: 25px;
	font-size: 13px;
	padding: 4px 0;
	margin-bottom: 1px;
}

#subheader .datetime {
	float: right;
	margin: 8px 6px 0 0;
}

#subheader .breadCrumb {
	float: left;
	background: url("images/breadCrumb.png") right;
	background-repeat: no-repeat;
	padding: 0 20px 0 1px;
	border-left: 6px solid #C90606;
}

.breadCrumb h2 {
	background: rgb(5, 131, 238);
	color: white;
	font-size: 16px;
	padding: 3px 0;
	margin: 0px;
}

/* #subheader img {
	width: 80%;
	height: 80px;
	margin: 10px 10%;
} */
#main_post {
	width: 70%;
	position: relative;
	display: inline-table;
}

#detail-news {
	width: 621px;
	min-height: 370px;
	position: relative;
	display: inline-table;
	padding: 10px 15px;
	border:1px solid #dcdcdc;
}

.news-title1 {
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
	min-height: 30px;
	color: #B80000;
}

.news-title1 a {
	text-decoration: none;
	color: #B80000;
}

.news-title1 a:Hover {
	color: red;
}

#detail-news #posted-date {
	font-size: 13px;
}

#detail-news-header {
	font-weight: bold;
	margin-bottom: 10px;
	text-decoration: none;
}

#detail-author {
	margin-top:30px;
	text-align: right;
	font-weight: bold;
}

#detail-QC {
	border: 1px solid #dcdcdc;
	width: 335px;
	min-height: 300px;
	position: relative;
	display: inline-table;
	margin-right: 2px;
	float: right;
}

#details-img img {
	width: 80%;
	margin: 10px 10%;
	max-height: 325px;
}

#details-des {
	margin: 0px auto 18px auto;
	max-width: 63%;
	text-align: center;
	font-style: italic;
	font-size: 13px;
}

.details-cont {
	line-height: 150%;
}

#detailQC1 img {
	width: 390px;
	margin-left: 25px;
}

#news-QC {
	position: relative;
	display: inline-table;
	float: right;
	padding: 5px 4px 0 0;
}

#news-QC #adv-item, #detail-QC #adv-item{
	border: 1px solid #dcdcdc;
	width: 270px;
}

#detail-QC #adv-item{
	width: 317px;
}

/* #QC1 img {
	width: 288px;
	height: 350px;
} */

#big_post {
	width: 405px;
	height: 430px;
	/* background-color: rgb(22, 73, 116); */
	float: left;
	position: relative;
	display: inline-block;
	border: 1px solid #dcdcdc;
	padding: 10px 0 0px 14px;
}

#big_post img {
	width: 97%;
	max-height: 220px;
}

.news-title1,.news-content1 {
	width: 100%;
	text-align: left;
}

.news-content1 {
	margin: 5px 20px;
	height: 50px;
}

.news-content1 a {
	color: #33B5D6;
}

#highlights_post {
	width: 275px;
	height: 440px;
	position: relative;
	display: inline-block;
	border: 1px solid #dcdcdc;
	margin-left: 1px;
}

#highlights_post li {
	list-style-type: none;
	background: url("images/news_li.PNG");
	background-repeat: no-repeat;
	background-position-y: 9px;
	padding: 4px 0 2px 10px;
	margin: 5px 10px;
}

#highlights_post a{
	color: black;
	text-decoration: none;
}

#tin-tuc-chi-tiet a:hover{
	color:red !important;
	text-decoration: underline !important;
}

#normal{
	position: relative;
	display: inline-table;
	width: 704px;
}

#normal_post {
	width: 685px;
	height: 180px;
	/* border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc; */
	border:1px solid #dcdcdc;
	margin: 5px 0;
	position: relative;
	display: inline-block;
	padding: 5px 5px 5px 8px;
}

#normal-content {
	position: relative;
	display: inline-block;
	width:415px;
	padding:0 8px;
}

#normal-header{
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 2px;
}

#normal-header a{
	text-decoration: none;
	color:#B80000;
}

#normal-text{
	line-height: 150%;
}

#normal-image {
	width: 250px;
	height: 160px;
	float: left;
	position: relative;
	display: inline-block;
}

#normal_post img {
	width: 250px;
	height: 160px;
	float: left;
	position: relative;
	display: inline-table;
}

.news-content2,.news-title2 {
	width: 700px;
	text-align: left;
	position: relative;
	display: inline-block;
	margin-left: 10px;
}

#QC2 {
	height: 54px;
	width: 100%;
	border: 1px solid #dcdcdc;
}

#QC2 img {
	margin: 2px 26px;
}